<%- include('Layout/header') %>
    <style>
        body {
            width: 100%;
            align-items: center;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: green;
            overflow: hidden;
            background-image: url('/Media/bg.jpg');
        }
    </style>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <body>
        <h1 class="text-center" style="color: #dddcdc;">Welcome to Vekelz!</h1>
    </body>
    </br>
    </br>
    </br>
    </br>
    <%- include('Layout/footer') %>