<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Vekelz</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<style>
    /* visited link */
    a:visited {
        color: green;
        text-decoration: none;
    }

    /* mouse over link */
    a:hover {
        color: #2cc4b4;
        text-decoration: none;
    }

    /* selected link */
    a:active {
        color: blue;
        text-decoration: none;
    }
</style>

<body>
    <p class="text-center text-dark">
        © Copyright 2023 Coded by <a href="https://www.github.com/ahmillect" target="_blank">Ahmed Khaled</a>
    </p>
</body>

</html>